.header {
    min-height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;

    background-color: var(--bg-card);

}

.nav {
    display: flex;
    gap: 2rem;
}

.link {
    font-size: 2rem;
    color: var(--accent-main);
}

.link:hover {
    font-size: 2rem;
    color: var(--accent-hover);
}