.header {
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    background: linear-gradient(
        to right,
        var(--bg-main),
        var(--bg-card)
    );

}

.nav {
    display: flex;
    gap: 2rem;
}

.link {
    font-size: 1.7rem;
    color: var(--accent-main);
}

.link:hover {
    color: var(--accent-hover);
}

@media (min-width: 768px) { 
    .header {
        flex-direction: row;
        padding: 3rem;
    }
    .link {
        font-size: 2rem;
    }
}