.category {
    display: flex;
    gap: 2rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.logos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}