.form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
    width: 70vw;
}

.FieldSet {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.legend {
    font-size: 2rem;
}

.Field {
    display: flex;
    flex-direction: column;
}

.input {
    background-color: var(--bg-card);
    padding: 1rem;
    border-radius: 1rem;
}

.textarea {
    min-height: 20vh;
}

.submit {
    background-color: var(--accent-main);
    padding: 1rem;
    border-radius: 1rem;
    align-self: center;
    width: 25%;
    transition: 0.3s;
}

.submit:hover {
    background-color: var(--accent-hover);
}

.submitMessage {
    font-size: x-large;
    color: var(--accent-main);
}