.presentation {
    display: flex;
    justify-content: space-evenly;
}

.projectSummary {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projectDescription {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link {
    width: fit-content;
    text-decoration: underline;
}

.link:hover {
    color: var(--accent-hover);
}

@media (min-width: 768px) { 
    .projectSummary {
    width: 25%;
    }
}

@media (max-width: 768px) { 
    .project {
    flex-direction: column;
}
}