.section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Skills {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1.5rem;
}
