.project {
    display: flex;
    justify-content: space-evenly;
}

.projectDescription {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h3 {
    font-size: 1.5rem;
}

