.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

@media (min-width: 768px) { 
    .Projects {
        gap: 10rem;
    }
}