.project {
    display: flex;
    justify-content: space-evenly;
}

.projectDescription {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) { 
    .projectDescription {
    width: 25%;
    }
}

@media (max-width: 768px) { 
    .project {
    flex-direction: column;
}
}